<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <appSettings>
    <add key="MM/dd/yyyy" value="" />
    <add key="&quot;MM/dd/yyyy&quot;" value="" />
    <add key="TabControl1.Visible" value="True" />
    <add key="ServerPath" value="Initial Catalog=NewScores; Data Source=MicDb; user id=sa; password=jynxz; Pooling=True; Max Pool Size=1000; Min Pool Size=10; Connect timeout=10000; Persist Security Info=False;" />
    <add key="ServerPath2" value="Initial Catalog=ScoresDotNet; Data Source=MicDb; user id=sa; password =jynxz; Pooling=True; Max Pool Size=1000; Min Pool Size=10; Connect timeout = 1000000; Persist Security Info=False;" />
    <!--<add key="ServerPath" value="Initial Catalog=NewScores; Data Source=NMPCSRVR; user id=sa; password=Ist4w@rd; Pooling=True; Max Pool Size=1000; Min Pool Size=10; Connect timeout=10000; Persist Security Info=False;" />
    <add key="ServerPath2" value="Initial Catalog=ScoresDotNet; Data Source=NMPCSRVR; user id=sa; password =Ist4w@rd; Pooling=True; Max Pool Size=1000; Min Pool Size=10; Connect timeout = 10000; Persist Security Info=False;" />-->
    <add key="AppVersion" value="1.1.0" />
    <add key="MonitorPerformance" value="0" />
    <add key="LastFileProcessed" value="" />
    <add key="Release Title" value="Prototype(20131023)" />
    
    
    <add key="MDIWeeklySalesForInvoicingFileName" value="MDI Weekly Sales for Invoicing" />
    <add key="MergedStockTransferExport" value="MergedStockTransfer" />
    <add key="UseSegmentRule" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EnableLog" value="false"/>
    <add key="BlankProfile" value="\\micdb\FieldForce\NSM PICS\BlankProfile.jpg"/>

    <add key="SalesInvUpdPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\16. Sales and Inventory Updates\2014\Sep 2014\"/>
    <add key="SpecialistsBudgetPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\Budget\Quota 2014 NMPC\"/>
    <add key="SalesTrendPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\12. Sales Trend\Direct\"/>
    <add key="SalesTrendPathStockTransfer" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\12. Sales Trend\Stock Transfer\"/>
    <add key="ASPSalesPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\1. Average Selling Price Report for Sir Jun Bautista\"/>
    <add key="IMSPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\5. IMS Report INHOUSE\"/>
    <add key="CMReportPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\4. CM Report Direct Pivot\"/>
    <add key="CalendarizedReportPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\3. Calenderized Item Sales\2014\"/>
    <add key="SalesMarketingIncentivesPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\11. Sales Marketing Incentive\2014\"/>

    <add key="GloboRAWPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\13. Subdistributor\Sub2014\SOURCE DATA 2014\Jul2014\"/>
    <add key="BarrXselRAWPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\13. Subdistributor\Sub2014\SOURCE DATA 2014\Jul2014\"/>
    <add key="GBRAWPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\13. Subdistributor\Sub2014\SOURCE DATA 2014\Jul2014\"/>
    <add key="SOUTHSTARRAWPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\13. Subdistributor\Sub2014\SOURCE DATA 2014\Jul2014\"/>
    <add key="518RAWPath" value="C:\Documents and Settings\Jojit Franco\My Documents\Corporate Data\13. Subdistributor\Sub2014\SOURCE DATA 2014\Jul2014\"/>
  </appSettings>
</configuration>
